.bgchange-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snap-crop-preview img {
    width: 300px;
    height: 350px;
    margin-top: 30px;
}

.crop-intro {
    width: 100%;
    background-color: #f3f3f3;
}

.dl {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}