.snap-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.snap-container h3{
    color: #1266f1;
}

.snap-intro button {
    background-color: #1266f1;
    border-radius: 0.3em;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.1) ;
    border: 0;
    width: 120px;
    height: 40px;
    margin-left: 50px;
}

.snap-oper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
}

.snap-preview-area {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 15px;
    background-color: #F5F6FA;
}

.snap-upload {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    padding: 25px;
    margin-right: 40px;
    border-radius: 10px;
}

.snap-upload-impl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-width: 1px;
    border-color: gray;
}

.snap-upload-impl-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: dashed;
    border-width: 1px;
    border-color: gray;
}

.upload-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-img-preview {
    width: 300px;
    height: 350px;
}

.snap-upload-header{
    text-align: center;
    font-size: 20px;
    line-height: 60px;
}

.gen-preview-div {
    min-height: 340px;
    border: dashed;
    border-width: 1px;
    border-color: gray;    
}

.snap-action-impl button{
    background-color: #1266f1;
    color: #fff;
    border-radius: 0.3em;
    font-weight: 500;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.1) ;
    border: 0;
    width: 120px;
    height: 40px;
    margin-top: 35px;
    margin-right: 30px;
}

.snap-preview {
    width: 75%;
    min-height: 400px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

.snap-preview-header {
    text-align: center;
    font-size: 20px;
    line-height: 60px;
}

.snap-preview img{
    width: 300px;
    height: 350px;    
}

input[type="file"]::before {
    content: "选择文件";
}

.snap-oper-btn {
    width: 360px;
}

.photo-bg {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top:20px;
}

.photo-bg-choice {
    height: 30px;
    display: flex;
    flex-direction: row;
    width: 80%;
}

.photo-bg-marker-selected {
    border: 2px solid transparent;
    border-radius: 6px;
    height: 30px;
    margin: 0 2px 0px;
    padding: 2px;
    width: 30px;
    border-color:#6c8ee5;
}

.photo-bg-marker {
    border: 2px solid transparent;
    border-radius: 6px;
    height: 30px;
    margin: 0 2px 0px;
    padding: 2px;
    width: 30px;
}

.photo-bg-element {
    width: 30px;
    height: 30px;
    border-radius: 6px;
}

.photo-bg-blue {
    width: 30px;
    height: 30px;
    background-color: #438edb;
    border-radius: 6px;
}

.snap-action-impl {
    display: flex;
    flex-direction: row;
}